body, p, h1, h2, h3, h4, h5  {
  font-family: 'Open Sans', sans-serif;  
  font-weight: 200;
}

@media (max-width: 900px){
  .nav-link {
    font-size: 12px !important;
  }
}

/* menu languages*/
.en, .pt-pt {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
}

/* margin logo*/ 
.block-system-branding-block {
  margin-left: 100px !important;
}
@media (max-width: 991px){
  .block-system-branding-block {
    margin-left: 30px !important;
  }
}

/* place language switcher*/
.region-nav-additional {
  padding-right: 30px;
}

.block-language-blocklanguage-interface .links {
  list-style: none;
}

/*fix spacing from fixed-top navbar*/
.main-topo {
  padding-top: 7rem !important;
}

/*remove padding carrousel*/
.region-content #block-carroucel{
  margin: 0 -0.5rem;
}

.region.region-nav-main {
  margin-right: 5%;:
}

/*article content*/
.block-page-title-block {
  padding-left: 5%;
}

.block-system-main-block {
  padding-left: 5%;
}

.nav-link  {
  padding-right: 1.5rem !important;
  text-transform: uppercase !important;
  color: black !important;
  font-size: 0.9vw;
  font-weight: 700;
}

/*carousel*/
.carousel-item h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4vw;
  font-weight: 600;
}

.carousel-item p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vw;
  font-weight: 500;
}

.region-footer {
  padding: 0 0rem;
}

.footer-block-1 {
  background-color: #333;
  margin: 0 0rem;
}

.footer-block-1 a, .footer-final a {
  color: #fff;
  text-decoration: none;
}

.footer-final {
  margin: 0 0rem;
}

.green-ds-name {
  font-weight: 700;
}
